.chatContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-right: 0%;
}

.messages {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background-color: #333;
}

.userMessage {
  text-align: right;
  color: #f6f8fa;
  margin-bottom: 10px;
}

/* Chat.module.css */
.botMessage {
  background-color: #505357; /* Blue background */
  color: white; /* White text */
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  max-width: 70%;
  align-self: flex-start; /* Align bot messages to the left */
  font-size: 16px; /* Larger text */
  font-family: 'Arial', sans-serif; /* Change font */
  border: 1px solid #0056b3; /* Darker blue border */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.inputContainer {
  display: flex;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  background-color: #333;
  color: #ddd;

}

.button {
  padding: 10px 20px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #005bb5;
}

/* Chat.module.css */
.cursor {
  display: inline-block;
  width: 0.5em;
  height: 1em;
  background-color: rgb(81, 67, 67);
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}